[Unit]
Description=E-bulletin board
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubie/Desktop/VoiceAssistant/VoiceAssistant.py
Restart=always

[Install]
WantedBy=multi-user.target

