.clock {
  position: absolute;
  left: 12%;
  transform: translateX(-50%);
  top: 75px; /* Adjust this value as needed */
}

.weather {
  grid-area: weather;
  padding: 1em;
  right: 10px;
  width: 100%;
}

.news {
  grid-area: nav;
}

body {
  background-color: black;
}
